body{
    text-align: center;
    background-color: rgb(255, 249, 243);
}

h1{
    color:rgb(174, 104, 0);
}

button{
    position: relative;
    height: 40px;
    width: 50px;
    outline: none;
    cursor: pointer;
    background-color: #ffaf37;
    border-radius: 3px;
    color:rgb(255, 255, 255)
  }


  button:hover{
    background-color: #ffffff;
    color:rgb(97, 51, 51);
}

